extends layout
block content
  h1= title
  -
    let carid = toShow._id
  -
    let Make = toShow.Make
  -
    let Model = toShow.Model
  -
    let Price = toShow.Price
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{carid}
  -
    let actionid = "/resource/cars/" + carid
  form(id='carForm', action= actionid, method="PUT")
    div.form-group
      label.carAttr(for='Make') car type
      input#Make(type='text', name='Make', value= Make )
    div.form-group
       label.carAttr(for='Model') car Model
       input#Model(type='text', name='Model', value= Model )
    div.form-group
       label.carAttr(for='Price') car Price
       input#Price(type='number', step='any', name='Price', value= Price )
    input(type="submit")
  script.
    document.forms['carForm'].addEventListener('submit', (event) => {
      event.preventDefault();
    // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        if (resp.ok){
            alert('car updated successfully')
            document.getElementById("carForm").reset()
        }
        else{
            alert("failed to update car")
        }
      }).then((body) => {
        console.log(body);
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });;
    });